<html layout:decorate="_layout">
    <head>
        <title>Softhostal</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h3>Menu</h3>
            <ul>
                <li>
                    <a href="/usuarios">Gestion de Usuarios</a>
                </li>
                <li>
                    <a href="/empleado">Gestion de Empleados</a>
                </li>
                <li>
                    <a href="/personas">Gestion de Personas</a>
                </li>
                  <li>
                    <a href="/clientes">Gestion de Clientes</a>
                </li>
                 <li>
                    <a href="/categorias">Gestion de Categoria de Productos</a>
                </li>
                 <li>
                    <a href="/reservas">Gestion de Recepcion</a>
                </li>
                <li>
                    <a href="/habitaciones">Gestion de habitaciones</a>
                </li>
            </ul>
        </div>
    </body>
</html>
